@import "../../../Variables";
.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px;
}
.header__logo{
    width: 300px;
    background: black;
}
.logo-name img, .logo-comb img{
    width: 100%;
}
.logo-comb{
    display: flex;
}
.comb-text{
    margin-left: 10px;
    font-size: 18px;
}
.header__title{
    font-weight: bold;
    font-size: 30px;
}
