@import "../../../Variables";
.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 5px;
    height: $header-height;
}
.header__logo{
    width: $header__logo-width;
    background: black;
}
.logo-name img, .logo-comb img{
    width: 80%;
}
.logo-comb{
    display: flex;
}
.comb-text{
    margin-left: 10px;
    font-size: $comb-text-font-size;
}
.header__title{
    font-weight: bold;
    font-size: $header__title-font-size;
}

@media screen and (max-width: $max-width), (max-height: $max-height) {
    .header{
        height: $header-height * $scale-ratio;
        .comb-text{
            font-size: $comb-text-font-size * $scale-ratio;
        }
        .header__title{
            font-size: $header__title-font-size * $scale-ratio;
        }
    }
}