.content-body{
  display: flex;
  width: 100%;
  height: 100%;
}
.left-side, .right-side{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  border: 3px solid gray;
}
.body-center{
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.body-conv{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #666d60;
  height: 80px;
  margin-top: auto;
  margin-bottom: 70px;
  overflow: hidden;
}
.conv-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.conv-counter{
  font-size: 40px;
  font-weight: bold;
}
.conv-info__count{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
.conv-counter__text{
  font-weight: bold;
  margin-top: -15px;
  font-size: 20px;
}
.conv-info__text{
  text-align: end;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  margin-top: -25px;
  color: white;
}
