.info-table{
  color:white;
}
table {
  margin: 0;

}
/* границы ячеек первого ряда таблицы */
th {
  border: 1px solid grey;
  margin: 0;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
  margin: 0;
}