.body-header{
    padding: 5px 10px 5px 5px;
    background: #0463f3;
    box-sizing: border-box;
    font-size: 30px;
    width: 100%;
}
.planTime-text, .planTime-stat, .actual-status{
    font-weight: bold;
    font-size: 30px;
}

.body-header__first-stroke{
    display: flex;
    justify-content: space-between;
}
.body-header__second-stroke{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.actual-status{
    height: 45px;
    max-width: min-content;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    white-space: nowrap;
}
.background-red{
    background: red;
}
