.body-header{
    display: flex;
    padding: 5px 10px 5px 5px;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    background: #0463f3;
    height: 80px;
}
.planTime-text, .planTime-stat, .actual-status{
    font-weight: bold;
    font-size: 30px;
}
.endTime-text, .endTime-text, .endTime-stat{
    font-size: 30px;
}
.current-status{
    margin-right: auto;
    margin-left: 5%;
}
.actual-status{
    height: 45px;
    max-width: min-content;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    white-space: nowrap;
}
.background-red{
    background: red;
}
