.App {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 100vh;
    height: 100vh;
    background: black;
    width: 100%;
    color: white;
}
.app-wrapper{
    width: 97%;
    height: 100%;
}
.color-red{
    color: red;
}