$scale-ratio: 0.85;
$max-width: 1120px;
$max-height: 650px;


//Content-Header
$header-height: 100px;
$header__logo-width: 300px;
$comb-text-font-size: 18px;
$header__title-font-size: 30px;
//Header-time
$time-moment-font-size: 20px;
$time-moment-line-height: 20px;
//Body-header
$body-header-font-size: 30px;
$actual-status-height: 45px;
//Harvester-card
$width-card: 90px;
$height-card: 60px;

