@import '../../../../Variables';
.harvester-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $width-card;
  height: $height-card;
  font-size: 10px;
  box-sizing: border-box;
  .card-code{
    font-size: 18px;
    font-weight: 500;
  }
  .card-number{
    font-size: 12px;
  }
}
@media screen and (max-width: $max-width){
  .conv-cards{
    width: $width-card * $scale-ratio;
    height: $height-card * $scale-ratio;
    .card-code{
      font-size: 18px * $scale-ratio;
    }
    .card-equip{
      font-size: 10px * $scale-ratio;
    }
    .card-number{
      font-size: 12px * $scale-ratio;
    }
  }
}
@media screen and (max-height: $max-height) {
  .side-cards {
    width: $width-card * $scale-ratio;
    height: $height-card * $scale-ratio;
    .card-code {
      font-size: 18px * $scale-ratio;
    }
    .card-equip {
      font-size: 10px * $scale-ratio;
    }
    .card-number {
      font-size: 12px * $scale-ratio;
    }
  }
}

.side-cards{
  margin-top: 15px;
}
.conv-cards{
  margin: 0 10px;
}
.install-2{
  background: #7a3706;
  color: #bec0be;
  border: 3px dashed #e66c08;
}
.install-3{
  background: #203752;
  color: #bec0be;
  border: 3px dashed #3c6598;
}
.build-2{
  background: #eb6d08;
  color: white;
  border: 3px solid #ffc596;
}
.build-3{
  background: #396199;
  color: white;
  border: 3px solid #9cb9e0;
}

